<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>niki</title>
</head>
<body>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima perferendis quo architecto tempora ex quam sequi nulla ullam iste eos sint, incidunt doloribus asperiores fuga modi deleniti. Dolorum, porro! Voluptas.
    </p>
    
</body>
</html>